<template name="Header">

  <div class="blackground">
    <div class="ui center aligned container header-pad" style="padding-top: 20px;">
      <img class="picture" src="/images/cfk1.png">
    </div>
  </div>
    <div class="ui borderless inverted menu" style="margin-top:0px; background-color:dimgrey;">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Home</h1></a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>
